<!DOCTYPE html>
<html>
    <head>
        <title>test wi-barchart</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="../bower_components/katex/dist/katex.min.css">
        <link rel="stylesheet" type="text/css" href="../bower_components/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.min.css">
        <script type='text/javascript' src='../bower_components/jquery/dist/jquery.min.js'></script>
        <script type='text/javascript' src='../bower_components/jquery/dist/jquery.min.js'></script>
        <script type='text/javascript' src='../bower_components/jquery-ui/jquery-ui.min.js'></script>
        <script src="../bower_components/d3/d3.min.js"></script>
        <script src="../bower_components/katex/dist/katex.min.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/clipboard/dist/clipboard.min.js"></script>
        <script src="../bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
        <script src="../dist/library/library.dll.js"></script>
        <script src="../dist/plot-toolkit.js"></script>
    </head>
    <body ng-app='myApp' ng-controller="myController">
        <button ng-click="button1Clk()">1</button>
        <button ng-click="button2Clk()">2</button>
        <button ng-click="button3Clk()">3</button>
        <div class='wi-barchart-container' style="position:relative;display:flex;">
            <layer-collection l-padding="45" b-padding='25' r-padding="45">
                <axis-layer
                    min-val='2000' max-val='5000'
                    n-ticks='6'
                    grid='1' loga='0' placement="1"
                    precision='0' minor-ticks="1">
                </axis-layer>
                <axis-layer axis-direction="'down'"
                    min-val='1000' max-val="4000"
                    n-ticks='6' axis-direction="'up'"
                    grid='1' loga='0' placement="0"
                    precision='1' minor-ticks="1">
                </axis-layer>
                <!--
                <line-formula-layer
                    min-val='0.1' max-val="10" min-y="0.01" max-y="maxY" ortho-loga="1" loga="0"
                    formula="{family:'linear', slope:0.5, intercept:-0.5}"
                    eqn-offsets="['50px', '0%']"
                    line-color="'red'">
                </line-formula-layer>
                <line-formula-layer
                    min-val='0.01' max-val="10" min-y="0.1" max-y="maxY" ortho-loga="0" loga="0"
                    formula="{family:'exponential', ae:0.1, b:0.5}"
                    eqn-offsets="['50px', '100%']"
                    line-color="'blue'">
                </line-formula-layer>
                -->
                <scatter-layer axis-direction="'down'"
                    min-val="2000" max-val="5000" min-y="1000" max-y="4000" loga="0" ortho-loga="0"
                    my-data-x="dataX" my-data-y="dataY" symbol="'circle'" symbol-size="10 + pointSize" symbol-fill-style="'red'" symbol-stroke-style="'black'">
                </scatter-layer>
                <!-- <control-marker-layer min-val="0" max-val="10" markers="markers" draggable="true" 
                    axis-direction="'down'"
                    get-marker-value="getMarkerVal"
                    set-marker-value="setMarkerVal"
                    marker-style="{stroke:'green','stroke-width':'1', fill:'none'}" marker-width="19">
                </control-marker-layer> -->
            </layer-collection>
        </div>
        <script>
            $(".wi-barchart-container").resizable({
                handles: "s"
            });
var app = angular.module('myApp', ['plot-toolkit']);

app.controller('myController', function($scope) {
    $scope.maxY = 10;
    $scope.button1Clk = function() {
        $scope.maxY += 5;
    }
    $scope.button2Clk = function() {
        $scope.maxY -= 5;
    }
    $scope.pointSize = 0;
    $scope.button3Clk = function() {
        $scope.pointSize = (3*$scope.pointSize + 13) % 21
    }
    $scope.dataX = [2800, 2803.6089, 2815.0755, 2826.3419, 2842.8773, 2853.3432, 2909.5604, 2911.5289, 2942.9757, 2968.6975, 3012.0046, 3047.979, 3051.1286, 2999.98, 3000.48, 3002.69, 3011.95, 3019.65, 3036.42, 3038.99, 3040.1, 3042.84, 3047.86, 3052.74, 3067.96, 3081.52, 4000, 4000.6562, 4004.3471, 4005.1837, 4017.5853, 4021.1942, 4023.458, 4026.2139, 4251.6568, 4260.8432, 4327.2474, 4335.712, 4367.208, 4371.3091, 4385.6431];
    $scope.dataY = [1760.2, 1771.2, 1794.5, 1814.7, 1842.7, 1857.2, 1931.7, 1934.2, 1969.7, 1997.7, 2027.7, 2053.2, 2055.2, 2081.39, 2081.7, 2083.91, 2090.9, 2094.94, 2105.43, 2107.92, 2108.95, 2110.95, 2113.45, 2120.42, 2131.42, 2140.91, 3004, 3006, 3013.5, 3015, 3036, 3041, 3044, 3047.5, 3302, 3312, 3358, 3364, 3384, 3386.5, 3395];

    $scope.markers = [{name: "abc", value: 3},{name: "abc2", value: 5}]
    $scope.getMarkerVal = function(marker, idx) {
        return marker.value;
    }
    $scope.setMarkerVal = function(marker, idx, val) {
        return marker.value = val;
    }
});
        </script>
    </body>
</html>
