<!DOCTYPE html>
<html>
    <head>
        <title>test wi-barchart</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="../bower_components/katex/dist/katex.min.css">
        <link rel="stylesheet" type="text/css" href="../bower_components/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.min.css">
        <script type='text/javascript' src='../bower_components/jquery/dist/jquery.min.js'></script>
        <script type='text/javascript' src='../bower_components/jquery/dist/jquery.min.js'></script>
        <script type='text/javascript' src='../bower_components/jquery-ui/jquery-ui.min.js'></script>
        <script src="../bower_components/d3/d3.min.js"></script>
        <script src="../bower_components/katex/dist/katex.min.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/clipboard/dist/clipboard.min.js"></script>
        <script src="../bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
        <script src="../dist/library/library.dll.js"></script>
        <script src="../dist/plot-toolkit.js"></script>
    </head>
    <body ng-app='myApp' ng-controller="myController">
        <button ng-click="button1Clk()">1</button>
        <button ng-click="button2Clk()">2</button>
        <button ng-click="button3Clk()">3</button>
        <div class='wi-barchart-container' style="position:relative;display:flex;">
            <layer-collection l-padding="45" b-padding='25' r-padding="45">
                <axis-layer
                    min-val='0.1' max-val='10'
                    n-ticks='15'
                    grid='1' loga='0' placement="1"
                    precision='0' minor-ticks="5">
                </axis-layer>
                <axis-layer
                    min-val='0.01' max-val="maxY" 
                    n-ticks='10' axis-direction="'up'"
                    grid='1' loga='0' placement="0"
                    precision='1' minor-ticks="1">
                </axis-layer>
                <line-formula-layer
                    min-val='0.1' max-val="10" min-y="0.01" max-y="maxY" ortho-loga="0" loga="0"
                    formula="{family:'linear', slope:0.5, intercept:0.2}"
                    eqn-offsets="['50px', '0%']"
                    line-color="'red'">
                </line-formula-layer>
                <line-formula-layer
                    min-val='0.01' max-val="10" min-y="0.1" max-y="maxY" ortho-loga="0" loga="0"
                    formula="{family:'exponential', ae:0.1, b:0.5}"
                    eqn-offsets="['50px', '100%']"
                    line-color="'blue'">
                </line-formula-layer>
                <scatter-layer min-val="0.01" max-val="10" min-y="0.01" max-y="maxY" loga="0" ortho-loga="0"
                    my-data-x="dataX" my-data-y="dataY" symbol="'diamond'" symbol-size="10 + pointSize" symbol-fill-style="'red'" symbol-stroke-style="'red'">
                </scatter-layer>
                <scatter-layer min-val="0.01" max-val="10" min-y="0.01" max-y="maxY" loga="0" ortho-loga="0"
                    my-data-x="dataY" my-data-y="dataX" symbol="'diamond'" symbol-size="10 + pointSize" symbol-fill-style="'blue'" symbol-stroke-style="'blue'">
                </scatter-layer>
                <polygon-layer min-val="0.01" max-val="10" min-y="0.01" max-y="maxY"
                    points="[{x:1, y:1}, {x:1, y:5}]">
                </polygon-layer>
            </layer-collection>
        </div>
        <script>
            $(".wi-barchart-container").resizable({
                handles: "s"
            });
var app = angular.module('myApp', ['plot-toolkit']);

app.controller('myController', function($scope) {
    $scope.maxY = 10;
    $scope.button1Clk = function() {
        $scope.maxY += 5;
    }
    $scope.button2Clk = function() {
        $scope.maxY -= 5;
    }
    $scope.pointSize = 0;
    $scope.button3Clk = function() {
        $scope.pointSize = (3*$scope.pointSize + 13) % 21
    }
    $scope.dataX = [5, 6, 7, 8, 13];
    $scope.dataY = [1, 2, 3, 8, 4];
});
        </script>
    </body>
</html>
