segment-layer svg.edit-point,
polygon-layer svg.edit-point 
{
    background-color: rgba(128, 128, 255, 0.5);
    cursor: crosshair;
    pointer-events: all;
}
segment-layer svg.edit-point.del-point,
polygon-layer svg.edit-point.del-point 
{
    cursor: alias;
}
segment-layer svg.edit-point.add-point,
polygon-layer svg.edit-point.add-point 
{
    cursor: copy;
}
segment-layer div.status,
polygon-layer div.status
{
    position: absolute;
    bottom: 0;
}
