axis-layer .layer .tick line {
    /* stroke: rgba(34, 139, 34, 0.5); */
    stroke: #555;
    stroke-width: 1;
    stroke-opacity: 1;
}

axis-layer .layer .minor line {
    /* stroke: rgba(34, 139, 34, 0.5); */
    stroke: #333;
    stroke-width: 0.7;
    stroke-opacity: 0.7;
}
