control-marker-layer svg > g{
    pointer-events: all;
}
control-marker-layer svg {
    pointer-events: all;
}

g {
    .marker-value {
        display: none;
    }
}
g:hover {
    .marker-value {
        display: block;
    }
}