axis-layer svg,
line-bin-layer svg,
line-point-layer svg,
line-formula-layer svg,
line-gaussian-layer svg,
control-marker-layer svg,
histogram-layer svg,
scatter-layer canvas,
polygon-layer svg,
segment-layer svg,
click-layer svg,
barchart-layer svg,
overlay-line-layer canvas,
canvas-barchart-layer canvas
{
    position: absolute;
    top:0;
    left:0;
    overflow: visible;
    pointer-events: none;
}
axis-layer, axis-layer > div,
line-bin-layer, line-bin-layer > div,
line-point-layer, line-point-layer > div,
line-formula-layer, line-formula-layer > div,
line-gaussian-layer, line-gaussian-layer > div,
control-marker-layer, control-marker-layer > div,
histogram-layer, histogram-layer > div,
scatter-layer, scatter-layer > div,
polygon-layer, polygon-layer > div,
segment-layer, segment-layer > div,
click-layer, click-layer > div,
barchart-layer, barchart-layer > div,
overlay-line-layer, overlay-line-layer > div,
canvas-barchart-layer, barchart-layer > div 
{
    flex:1;
    display: flex;
}
axis-layer,
line-bin-layer,
line-point-layer,
line-formula-layer,
line-gaussian-layer,
control-marker-layer,
histogram-layer,
scatter-layer,
polygon-layer,
segment-layer,
click-layer,
barchart-layer,
overlay-line-layer,
canvas-barchart-layer
{
    position:static !important;
    pointer-events:none;
}
