<div>
<svg style="margin: {{self.paddingStr();}};width:calc(100% - {{self.leftPadding() + self.rightPadding()}}px); height:calc(100% - {{self.topPadding() + self.bottomPadding()}}px)">
    <g class="layer">
        <path fill='none' stroke="{{self.lineColor}}" stroke-dasharray="{{self.lineDash}}" stroke-width="{{self.lineWidth}}" />
    </g>
</svg>
<div class="equation-holder" ng-style='self.eqnStyle();'>
    <span ng-if="self.eqnName">{{self.eqnName}}</span>
    <span ng-if="self.eqnName && self.showEquation"> : </span>
    <span class='equation' ng-show="self.showEquation"
        ngclipboard ngclipboard-success="self.eqnCopySuccess(e);"
        data-clipboard-text="{{self.formula.text || self.parseFormulaLatex()}}">
    </span>
</div>
