<div>
<svg ng-style="{margin: self.paddingStr(), width:`calc(100% - ${self.leftPadding() + self.rightPadding()}px)`, height:`calc(100% - ${self.topPadding() + self.bottomPadding()}px)`}">
    <g class="layer">
        <path id='{{self.prefixId}}' fill='none' stroke="{{self.lineColor}}" stroke-dasharray="{{self.lineDash}}" stroke-width="{{self.lineWidth}}" />
        <text ng-style="self.lineLabelStyle" x="0" y="0">
            <textPath href="#{{self.prefixId}}" startOffset='3%'>
                {{self.lineLabel}}
            </textPath>
        </text>
    </g>
</svg>
<div class="equation-holder" ng-style='self.eqnStyle();'>
    <span ng-if="self.eqnName">{{self.eqnName}}</span>
    <span ng-if="self.eqnName && self.showEquation"> : </span>
    <span class='equation' ng-show="self.showEquation"
        ngclipboard ngclipboard-success="self.eqnCopySuccess(e);"
        data-clipboard-text="{{self.formula.text || self.parseFormulaLatex()}}">
    </span>
    <span ng-if="self.mse">; </span>
    <span class='mse' ng-if="self.mse"
        ngclipboard data-clipboard-text="{{self.parseMSELatex()}}">
    </span>
</div>
